:::writing{variant="standard" id="58271"}
{% extends 'base.html' %}

{% block title %}Kirish{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h2 class="text-center mb-4">
                    Tizimga kirish
                </h2>

                <form>

                    <div class="mb-3">
                        <label class="form-label">
                            Username
                        </label>

                        <input type="text"
                               class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Parol
                        </label>

                        <input type="password"
                               class="form-control">
                    </div>

                    <button class="btn btn-primary w-100">
                        Kirish
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}
:::