{% extends 'base.html' %}

{% block title %}Ro'yxatdan o'tish{% endblock %}

{% block content %}

    <div class="card shadow">
        <div class="card-body">

            <h2 class="text-center mb-4">
                Ro'yxatdan o'tish
            </h2>

            <form>

                <div class="mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Username">
                </div>

                <div class="mb-3">
                    <input type="email"
                           class="form-control"
                           placeholder="Email">
                </div>

                <div class="mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Telefon">
                </div>

                <div class="mb-3">
                    <input type="password"
                           class="form-control"
                           placeholder="Parol">
                </div>

                <button class="btn btn-success w-100">
                    Ro'yxatdan o'tish
                </button>

            </form>

        </div>
    </div>

</div>

{% endblock %}